
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description, "Describe it" %>
		<%= f.text_area :description, placeholder: "Describe Your Workout, #{Date.today}" %>
	</p>

